@import "/src/styles/variables.scss";

.wrapper {
  margin-bottom: 5rem;
  flex: 1;
}

.search_result {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  padding: 0 4rem 3rem 4rem;
  border-radius: 1.3rem;
  &__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5rem;
    list-style: none;
    gap: 3rem;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -3.5rem;
      left: 0;
      width: 100%;
      border-bottom: 0.2rem solid $light;
    }
  }
  &__title {
    padding-top: 3rem;
    text-align: center;
    font-size: 6rem;
  }
  &__error {
    margin: 0 auto;
    font-size: 3rem;
  }
}

@media screen and (max-width: 740px) {
  .search_result__list {
    .card_wrapper {
      width: 45%;
    }
  }
}

@media screen and (max-width: 610px) {
  .search_result__list {
    .card_wrapper {
      &__game_info {
        font-size: 1.4rem;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .search_result__list {
    .card_wrapper {
      width: 100%;
    }
  }
}
