// FONTS
$main-font: "Zilla Slab", sans-serif;
$heading-font: "Forum", sans-serif;

//COLORS
$light: rgb(255, 255, 255);
$dark: rgb(0, 0, 0);
$main-bg: rgb(34, 39, 44);
$header-footer: rgb(249, 218, 112);
$button-color: rgb(201, 51, 51);
$button-color-hover: rgb(161, 19, 19);
$search-bar-focus: rgb(218, 221, 61);
$modal-transparent-bgc: rgba(0, 0, 0, 0.521);
$light-tr: rgba(255, 255, 255, 0.61);

// TRANSITION
$transition-fast: all 150ms ease-in-out;
$transition-semi-fast: border 200ms, background 200ms ease-in;
$transition-medium: all 300ms ease-in-out;
$transition-slow: all 500ms linear;
$nav-transition: left 0.5s ease;
