@import "/src/styles/variables";

.button_default {
  width: clamp(5rem, 13rem, 19rem);
  height: clamp(4rem, 5rem, 7rem);
  background-color: $button-color;
  color: $light;
  border-radius: 0.5rem;
  border: 0.3rem solid $light;
  font-size: 1.8rem;
  cursor: pointer;
  font-family: $main-font;
  font-weight: 500;
  &:hover {
    background-color: $button-color-hover;
  }
}
