@import "/src/styles/variables";

.change_password {
  &__title {
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  &__submit {
    display: block;
    margin: 6rem auto 0 auto;
    max-width: 50%;
  }
  &__label {
    display: inline-block;
    margin-top: 1rem;
  }
  &__error {
    font-size: 1.7rem;
    color: $button-color;
    text-align: left;
    font-weight: bold;
  }
  &__transparrent {
    height: 2rem;
  }
  &__label_repeat {
    display: inline-block;
    margin-top: 3rem;
  }
  &__input_field {
    background-color: $main-bg;
    border: 0.1rem solid $light;
    width: 100%;
    border-radius: 1rem;
    padding: 0 1rem;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    &:focus-within {
      border: 0.1rem solid $search-bar-focus;
    }
  }
  &__input_inside {
    background-color: $main-bg;
    border-radius: 1rem;
    width: 100%;
    outline: none;
    border: none;
    color: $light;
    padding: 1rem 0;
    font-size: 2rem;
    font-family: inherit;
  }
  .far {
    font-size: 2rem;
    cursor: pointer;
    color: $light;
  }
  .reset {
    background: none;
    border: none;
    padding: 0;
  }
}
