@import "/src/styles/variables";
@import "/src/styles/mixins";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 4.5rem;
  background-color: $header-footer;
  padding: 0 2rem;
  position: relative;
  &__title {
    color: $dark;
    text-decoration: none;
    border-bottom: 0.5rem solid transparent;
    height: 100%;
    padding-top: 0.5rem;
    transition: $transition-semi-fast;
    &:hover {
      @include hoverAndFocusEffect;
    }
  }
  &__nav {
    height: 100%;
  }
  &__list {
    display: flex;
    height: 100%;
  }
  &__item {
    list-style: none;
    height: 100%;
    margin-left: 2rem;
  }
  &__link {
    padding-top: 0.5rem;
    display: inline-block;
    text-decoration: none;
    color: $dark;
    border-bottom: 0.5rem solid transparent;
    height: 100%;
    transition: $transition-semi-fast;
    &:hover,
    &:focus {
      @include hoverAndFocusEffect;
    }
  }
  &__icon {
    transition: 0.4s;
    font-size: 2.3rem;
    padding-left: 0.4rem;
  }
  &__products_link {
    text-decoration: none;
    background-color: $header-footer;
    border: none;
    cursor: pointer;
    color: $dark;
    font-size: 2.5rem;
    font-family: $main-font;
    display: flex;
    gap: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 0.5rem solid transparent;
    width: 16rem;
    height: 100%;
    transition: $transition-semi-fast;
    &:hover,
    &:focus {
      @include hoverAndFocusEffect;
    }
  }
  &__btn {
    background-color: $header-footer;
    border: none;
    cursor: pointer;
    color: $dark;
    font-size: 2.5rem;
    font-family: $main-font;
    border-bottom: 0.5rem solid transparent;
    transition: $transition-semi-fast;
    height: 100%;
    &:hover,
    &:focus {
      @include hoverAndFocusEffect;
    }
  }
  &__logged_in {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.dropdown_menu_section {
  position: relative;
  &:hover {
    .dropdown_menu {
      display: block;
      flex-direction: column;
      top: 4.5rem;
    }
  }
}

.dropdown_menu_section:hover .header__icon {
  transition: 0.4s;
  transform: rotateX(180deg);
}

.dropdown_menu {
  display: none;
  position: absolute;
  background-color: $header-footer;
  font-size: 2.5rem;
  list-style: none;
  width: 100%;
  z-index: 2;
  &__link {
    display: inline-block;
    text-decoration: none;
    color: $dark;
    border-bottom: 0.5rem solid transparent;
    width: 100%;
    transition: $transition-semi-fast;
    padding: 0.7rem;
    text-align: left;
    &:hover,
    &:focus {
      @include hoverAndFocusEffect;
    }
  }
}

.hamburger,
.cross {
  float: right;
  font-size: 3.2rem;
  cursor: pointer;
  display: none;
  margin-right: 3rem;
  color: $dark;
  &:hover {
    color: $light;
  }
}

// MEDIA QUERIES

@media screen and (max-width: 1000px) {
  .header__item {
    margin-left: 0.9rem;
  }
  .heading {
    letter-spacing: normal;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 800px) {
  .header {
    padding-left: 0;
    &__nav {
      position: absolute;
      width: 100%;
      min-height: 100vh;
      top: 4.5rem;
      background-color: $header-footer;
      padding: 0;
      z-index: 1;
      left: -110%;
      transition: $nav-transition;
    }
    &__nav.active {
      left: 0;
      transition: $nav-transition;
    }
    &__list {
      margin-top: 6rem;
      flex-direction: column;
      height: auto;
    }
    &__item {
      margin-left: 0;
      margin-bottom: 2rem;
      display: flex;
      justify-content: center;
      &:nth-child(3) {
        margin-top: 2rem;
      }
    }
    &__link {
      height: auto;
      padding: 0;
    }
    &__products_link,
    &__btn {
      background-color: $header-footer;
      transition: none;
      width: auto;
    }
    &__products_link {
      display: flex;
      justify-content: center;
    }
  }

  .dropdown_menu_section:hover .dropdown_menu {
    position: absolute;
    top: 3.9rem;
  }

  .hamburger,
  .cross {
    display: block;
  }

  .dropdown_menu_section {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 16rem;
  }

  .dropdown_menu {
    background-color: $header-footer;
    &__item {
      display: flex;
      justify-content: center;
    }
    &__link {
      padding: 0;
      margin-bottom: 1rem;
      width: auto;
    }
  }
}
