@import "/src/styles/variables.scss";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 4rem;
  background-color: blueviolet;
  padding: 0 20px;
  &__list {
    display: flex;
    gap: 10px;
  }
  &__item {
    list-style: none;
  }
  &__link {
    display: flex;
    align-items: center;
    font-size: 10px;
    padding: 3px;
    outline: none;
    border: 2px solid transparent;
    transition: all 150ms ease-in-out;
    &:focus,
    &:hover {
      border-radius: 50%;
      background-color: $hover-bgc;
      border: 2px solid #fff;
    }
  }
  &__icon {
    height: 40px;
    width: 40px;
  }
}
