@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 6.4rem;
  background-color: $header-footer;
  padding: 0 2rem;
  &__list {
    display: flex;
  }
  &__item {
    list-style: none;
    margin-left: 1rem;
  }
  &__link {
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 0.3rem;
    outline: none;
    border: 0.2rem solid transparent;
    transition: $transition-fast;
    &:focus,
    &:hover {
      border-radius: 50%;
      border: 0.2rem solid $dark;
    }
  }
  &__icon {
    height: 4rem;
    width: 4rem;
  }
  &__title {
    color: $dark;
  }
}

//MEDIA QUERIES

@media screen and (max-width: 768px) {
  .footer {
    padding: 0;
    &__icon {
      height: 3rem;
      width: 3rem;
    }
    &__item {
      margin-left: 0;
    }
  }
}
