@import "/src/styles/variables";

.search_bar {
  margin: 3rem auto;
  min-height: 4.5rem;
  padding: 0 1rem;
  width: 80%;
  border: 0.2rem solid $light;
  font-family: $main-font;
  border-radius: 0.8rem;
  background-color: $main-bg;
  color: $light;
  outline: none;
  display: flex;
  align-items: center;
  &:focus-within {
    border: 0.2rem solid $search-bar-focus;
  }
  &__search_icon {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1.3rem;
  }
  &__input {
    height: 100%;
    width: 100%;
    background-color: $main-bg;
    color: $light;
    padding: 0 0.5rem;
    font-size: 2rem;
    border: none;
    outline: none;
    font-family: $main-font;
  }
  &__close_button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    margin-left: 0.1rem;
  }
  &__close_icon {
    font-size: 3.2rem;
    color: $light;
    &:hover {
      color: $dark;
    }
  }
}

.fa-sync-alt {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
