@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import "./styles/variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $main-bg;
  font-family: $main-font;
  font-size: 2.5rem;
  color: $light;
  min-height: 100%;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: $heading-font;
  letter-spacing: 0.3rem;
  font-style: normal;
  font-weight: normal;
  line-height: 35px;
  font-size: 3rem;
}
