@import "/src/styles/variables";

.search-bar {
  height: 3.2rem;
  padding: 0.7rem;
  border: 0.2rem solid $light;
  font-family: $main-font;
  border-radius: 0.8rem;
  background-color: $container-bgc;
  color: $light;
  outline: none;
}
